/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, verdana, helvetica, sans-serif;
}

/* Box principal: container*/
.meu-container{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  min-height: 100vh;
  /* Flex */
  display: flex;
  flex-direction: column;
}

header{

  background-color: #286DA8;
  color: white;

}

main{

  background-color: #D9D9D9;
  flex-grow: 1;
  background-image: url("https://nova-escola-producao.s3.amazonaws.com/xC32vrcsNeQhhguMRAcp9dZT3zPJASXRw7XwHdyscqyfgbHfUKk47snQKZQm/mentira-nao-escola-publica-escola-particular.jpg");

}

footer{

  background-color: #286DA8;
  color: white;

}

.wrapper {
  padding: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286DA8;
    border-color: #286DA8;
}
.btn:hover {
    color: #286DA8;
    text-decoration: none;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
}
